[submodule "P1-Work"]
	path = P1-Work
	url = https://github.com/GBarradas/P1-mineweeper
d+
[submodule "MIUP"]
	path = MIUP
	url = https://github.com/GBarradas/MIUP

[submodule "BD/Work_1"]
	path = BD/Work_1
	url = https://github.com/GBarradas/BD_Work_1

