[submodule "P1/Work"]
	path = P1/Work
	url = https://github.com/GBarradas/P1-mineweeper
[submodule "BD/Work_1"]
	path = BD/Work_1
	url = https://github.com/GBarradas/BD_Work_1
[submodule "CG/Work"]
	path = CG/Work
	url = https://github.com/GBarradas/CG-Work
[submodule "BD/Work_2"]
	path = BD/Work_2
	url = https://github.com/GBarradas/BD_Work_2
[submodule "P2/Work"]
	path = P2/Work
	url = https://github.com/GBarradas/P2-Work
[submodule "MDS/Parte1"]
	path = MDS/Parte1
	url = https://gitlab.com/trabalho-mds/comer_evora.git
[submodule "MDS/Parte2"]
	path = MDS/Parte2
	url = https://gitlab.com/trabalho-mds/comer_evora.wiki.git